.animal_pic{
    width:auto;
    height: 100%;
    object-fit: fill;
}

.whole_description, .btn-block{
    display: flex;
    flex-direction: row;
    border: 3px solid transparent;
    box-shadow: 2px 1px 4px 0px black;
    filter:drop-shadow(1px 1px 1px slategray);
    width: 100%;
}
